/* Write your code here. */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.image {
  height: 250px;
  width: 400px;
  margin-top: 35px;
}
.heading {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 600;
  color: #1e293b;
}
.description {
  font-family: 'Roboto';
  font-size: 12px;

  color: #64748b;
}
.list-container {
  display: flex;

  list-style-type: none;
}
